main {
  flex: 0 0 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu {
  background-image: url("/res/bg/bg1.jpg");
  border: 2px solid palevioletred;
  padding: 4%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-items: center;
  gap: 5vh;
}
.menu-button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: red;
  width: 50%;
  height: 10vh;
  font-size: 3vw;
  background-color: plum;
  border-radius: 30px;
}
.menu-button:hover {
  background-color: cadetblue;
}
