#gameWindow{
    background-image: url("/res/bg/bg1.jpg");
    border: 2px solid palevioletred;
    flex: 0 0 80%;
    margin: 10%;
    margin-top: 0px;
    padding: 4%; 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card{
    aspect-ratio: 1;
    font-family:'Courier New', Courier, monospace;
    color: red;
    display: flex;
    font-size: 10vw;
    justify-content: center; 
    align-items: center;
    background-color: bisque;
    perspective: 1000px;
    transition: transform 0.5s ease;
}